[Desktop Entry]
Name=Vivant
GenericName=E-Book Reader
Comment=Fast, native EPUB reader for Linux
Exec=Vivant %f
Icon=Vivant
Type=Application
Categories=Office;Viewer;
MimeType=application/epub+zip;
StartupWMClass=Vivant
Keywords=epub;ebook;reader;book;
